.container
	.panel.panel-default
		.panel-title Events
		.panel-body
			table.table
				tr
					th Visit Time
					th Info
				tr(ng-repeat="m in events")
					td {{ m.apiKey | date :'medium'}}
					td {{ m.userID }}
