h1(style='color: #5e9ca0;') Salih Kardan
p  Will build a cool site if I have time :)
ol(style='list-style: none; font-size: 14px; line-height: 32px; font-weight: bold;')

  a(href='https://twitter.com/sadiges')
    img(src='/images/twitter.png', alt='W3Schools', width='30', height='30', border='0')

  a(href='https://tr.linkedin.com/in/salihkardan')
    img(src='/images/linkedin.png', alt='W3Schools', width='30', height='30', border='0')
  p             
