.container
	.row
		.col-sm-12
					p Will build a cool site if I have time :)
					a(href='https://twitter.com/sadiges')
  					img(src='/images/twitter.png', alt='W3Schools', width='30', height='30', border='0')
						
					a(href='https://tr.linkedin.com/in/salihkardan')
					  img(src='/images/linkedin.png', alt='W3Schools', width='30', height='30', border='0')
					
