#wrapper
  // Main
  section#main
    header
      span.avatar
        img(src='/images/cutmypic.png', alt='')
      h1 Salih Kardan
      p Software Engineer @
        a(href='https://opsgenie.com')
            font(color='orange') OpsGenie

    footer
      ul.icons
        li
          a.fa-twitter(href='https://twitter.com/sadiges') Twitter
        li
          a.fa-linkedin(href='https://tr.linkedin.com/in/salihkardan') Linkedin

  footer#footer
    ul.copyright
      li © Salih Kardan

  script.
    if ('addEventListener' in window) {
    window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\\bis-loading\b/, ''); });
    document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\\.0)/) ? ' is-ie' : '');
    }

